In [22]:
SAVE_PATH = '../save/002_exp'
import pandas as pd
out_df = pd.DataFrame()
for i in [55, 99, 133]:
    _df = pd.read_csv(SAVE_PATH+'/submit'+str(i)+'.csv')
    out_df = pd.concat([out_df, _df], axis=1)
out_df.head()

     target    target    target
0  0.115195  0.103473  0.115603
1  0.032571  0.032072  0.032356
2  0.087617  0.081811  0.087758
3  0.006190  0.004916  0.005470
4  0.050191  0.048428  0.052587

In [23]:
out_df['sub'] = out_df.mean(axis=1)
out_df = out_df.drop('target', axis=1)
out_df.columns = ['target']
out_df

         target
0      0.111424
1      0.032333
2      0.085729
3      0.005525
4      0.050402
...         ...
25818  0.102135
25819  0.052211
25820  0.179394
25821  0.000556
25822  0.060773

[25823 rows x 1 columns]

In [24]:
out_df.to_csv(SAVE_PATH+f'/submit_amsemble.csv', index=False)