In [12]:
import pandas as pd

session = pd.read_csv('../input/session.csv')
test_session = pd.read_csv('../input/test_session.csv')

In [13]:
df_train_session = session[~session['session_id'].isin(test_session['session_id'])]
df_test_session = session[session['session_id'].isin(test_session['session_id'])]

In [14]:
only_test_session = df_test_session[~df_test_session['user_id'].isin(df_train_session['user_id'].unique())].session_id

In [15]:
only_test_idx = test_session['session_id'].isin(only_test_session)

In [23]:
only_test_idx[only_test_idx == True]

30       True
38       True
53       True
74       True
97       True
         ...
25722    True
25737    True
25743    True
25817    True
25821    True
Name: session_id, Length: 1610, dtype: bool

In [16]:
both_exist_session_submit = pd.read_csv('../save/002_exp/stratified_group/submit55.csv')
only_test_session_submit = pd.read_csv('../save/003_exp_split_test/submit55.csv')

In [17]:
both_exist_session_submit[only_test_idx] = only_test_session_submit[only_test_idx]

In [24]:
both_exist_session_submit.to_csv('../save/003_exp_split_test/submit_split_training_model.csv', index=False)

In [20]:
both_exist_session_submit

         target
0      0.119677
1      0.036892
2      0.139835
3      0.058900
4      0.038876
...         ...
25818  0.075455
25819  0.077663
25820  0.159671
25821  0.115753
25822  0.073679

[25823 rows x 1 columns]